<%-include('../Includes/Header.ejs')%>
<link rel="stylesheet" href="/css/authStyle.css">
</head>
</body>
  <%-include('../Includes/Navbar.ejs')%>

<main>
  <section class="p-5">
<div class="container">
<div class="card bg-info bg-opacity-25 text-light">
    <div class="forgetForm">
        <h1 class="form_heading">Forget Password</h1><br>
        <form action="/submit_email" method="POST" >
            <input type="email" name="mail" placeholder="Enter your mail address here" class="forget-input">
            <input type="submit" value="Submit email" class="email_submit">
        </form>  
    </div>
</div>
</section>
</main>

<%-include('../Includes/Footer.ejs')%>