<%-include('../Includes/Header.ejs')%>
<link rel="stylesheet" href="/css/adminStyle.css">
</head>
</body>
  <%-include('../Includes/Navbar.ejs')%>
  <section class="banner"></section>
  <section class="bg-warning-subtle">
    <div class="container py-4 text-center">
        <h2 class="mb-3">ECommerce</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam omnis amet possimus repellendus saepe facilis fugiat ea quo nihil velit porro, aperiam unde sequi! Dolores ea a delectus odio iusto soluta debitis consectetur, eveniet neque dolorum atque beatae illum sapiente.</p>    
    </div>
  </section>

  <%-include('../Includes/Footer.ejs')%>