<%-include('../../Includes/Header.ejs')%>
<link rel="stylesheet" href="/css/authStyle.css">
</head>
</body>
  <%-include('../../Includes/Navbar.ejs')%>
  <main>
    <section class="py-5">
      <div class="container px-5">
            <div class="card mb-3 border border-warning not_verified text-center">              
                <div class="card-body text-warning ">
                  <h3 class="card-title mb-4">You need to access verified account. </h3>
                  <p class="card-text">If you have already submitted data to register, then please check mail again to verify account and then try to login.</p>
                  <p class="card-text">Click here to go to <a href="/">Home</a> Page </p>
                  <p class="card-text"> Go to <a href="/auth/sign-in" >Login Page</a></p>
                </div>
            </div>              
        </div>
      </section>
  </main>


<%- include('../../Includes/Footer.ejs')  %>